//Importación de fuentes
//Versión semibold de la fuente
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap");

//Variables de fuentes
$fontMain: "Inter Tight", sans-serif;

//Variables de color
$primary: #0c111d;
$secondaryBlack: #344054;
$secondary: #6941c6;
$third: #079455;
$error: #c70039;
$white: #fff;
$gray: #d0d5dd;
$gray2: #f2f4f7;
$secondaryWhite: #f6f7fa;
